.controls-section {
  text-align: center;
  padding: 60px 10%;
  color: white;
  font-family: "Jersey 15", sans-serif;
    opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.controls-section h2 {
  font-size: 2.2rem;
  color: #6eb1e7;
  margin-bottom: 20px;
}

.controls-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
  line-height: 2rem;
}

.controls-section li {
  margin: 8px 0;
  transition: transform 0.2s ease, color 0.2s ease;
}

.controls-section li:hover {
  transform: scale(1.05);
  color: #a8d9ff;
}
