body { margin:0; background:#111; display:flex; justify-content:center; align-items:center; height:100vh;}
canvas { background:#222; border:3px solid #6eb1e7; }

.hidden {
  display: none;
}

#attack-options {
  position: absolute;
  bottom: 20px;
  text-align: center;
}

a.attack-link {
  color: #6eb1e7;
  text-decoration: none;
  font-family: monospace;
  margin: 0 10px;
  font-size: 18px;
}

a.attack-link:hover {
  color: #fff;
  text-decoration: underline;
}

